# Day objectives
## Markdown syntax
### python basics

**sukanya**

*italicdata*

***italic plus bold***

* text

>1.below the text

## python basics

### find the python version

In [2]:
import sys
sys.version

'3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]'

### print hello world

In [3]:
print("hello world!")

hello world!

### print kvsw along with your name

In [9]:
print("kvsw "+"sukanya")
print("kvsw sukanya")

kvsw sukanya
kvsw sukanya

In [14]:
x="sukanya"
print(x)

sukanya

## Data types in python
* INT
* FLOAT
* STRING
* COMPLEX
* LIST
* TUPLES
* SET

In [15]:
S=12
print(S)

12

In [17]:
type(S)

int

In [18]:
type(x)

str

In [19]:
y=112.021
print(y)
type(y)

112.021

float

In [20]:
w=4+5j
print(w)
type(w)

(4+5j)

complex

## Data type conversion

In [23]:
string=str(w)
string

'(4+5j)'

In [24]:
i=float(S)
i

12.0

## Variable assignment
>1.different data types can be assigned as different variables
>2.same data types can be assigned to a different variables

In [26]:
p,q,r=[10,"hai",21.908]
print(p,q,r)
print(type(p),type(q),type(r))
# command session this statement is not printed

10 hai 21.908
<class 'int'> <class 'str'> <class 'float'>

In [30]:
p=q=r="sukku"
print(p,q,r)
p
q
r

sukku sukku sukku

'sukku'

## arithematic and logical operations in python

In [44]:
q=10
w=6
print("add",q+w)
print("sub",q-w)
print("div",(q//w))
print("power",w**q)
print("mul",q*w)

add 16
sub 4
div 1
power 60466176
mul 60

In [46]:
'''multiple lines 
command by using the
three single quotes'''
p

'sukku'

In [1]:
n=int(input())
for i in range(0,n+1):
    for j in range(i+1):
        print("*",end="")
    print("\r")

9
*
**
***
****
*****
******
*******
********
*********
**********