## 1.Write a pandas program to change the order of index of a given series

In [8]:
import pandas as pd
s=pd.Series([1,2,3,4,5,6,7])
print(s)
d=pd.Series([1,2,3,4,5,6,7],index=['a','b','c','d','e','f','g'])
print(d)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64
a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

## 2.write a python program to add ,sub,multiple,divide to pandas series sample series=[2,4,6,8,10],[1,3,5,7,9]

In [13]:
a=pd.Series([2,4,6,8,10])
b=pd.Series([1,3,5,7,9])
A=a+b
B=a-b
C=a*b
D=a/b
print(A,B,C,D)

0     3
1     7
2    11
3    15
4    19
dtype: int64 0    1
1    1
2    1
3    1
4    1
dtype: int64 0     2
1    12
2    30
3    56
4    90
dtype: int64 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

## 3.write a python program to convert a panda module series to python list and its type

In [21]:
x=pd.Series([20,30,40,50,60])
print(x,type(x))
l=list(x)
print(l,type(l))

0    20
1    30
2    40
3    50
4    60
dtype: int64 <class 'pandas.core.series.Series'>
[20, 30, 40, 50, 60] <class 'list'>

## 4.write a pandas program to select the rows where the score is missing(NaN)

In [32]:
import numpy as np
cri={'name':['sachin','ganguly','kohli','virat','dhoni'],'score':[np.nan,3,np.nan,9.8,4],'attempts':[1,3,5,6,8],'qualify':["no","yes","no","yes","yes"]}
labels=['a','b','c','d','e']
d=pd.DataFrame(cri,index=labels)
print(d[d['score'].isnull()])

     name  score  attempts qualify
a  sachin    NaN         1      no
c   kohli    NaN         5      no

## 5.write a numpy program to create a 3*3 matrix with values ranging from 2 to 10

In [37]:
z=np.arange(2,11).reshape(3,3)
z

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10]])

## 6.Illustrate the difference between ravel and flatten by taking considering multidimnensional array

In [72]:
x=np.arange(2,10).reshape(2,4)
y=np.arange(1,9).reshape(2,4)
print(y.ravel())                               # both ravel() and flatten() can convert 2-D to 1-D
print(x.flatten())

[1 2 3 4 5 6 7 8]
[2 3 4 5 6 7 8 9]

## 7. create a 3*3 numpy array .find out the minimum,maximum values and also their indicies accordingly fore each axes.also find out tha statistical methods such as standard deviation,cumulative sum and product

In [87]:
data=np.arange(1,10).reshape(3,3)
print(data.min())
print(data.max())
print(data.cumsum())
print(data.cumprod())
print(data.std())

1
9
[ 1  3  6 10 15 21 28 36 45]
[     1      2      6     24    120    720   5040  40320 362880]
2.581988897471611

## 8.create a dataframe with some null values find out info and describe and sum of null values

In [92]:
df= pd.DataFrame({'name':['janu','monu','gai','sai'],
                     'rollno':['502',np.nan,'506','508'],
                     'branch':['mech','cse',np.nan,'civil']})
print(df.info())
print(df.describe())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
name      4 non-null object
rollno    3 non-null object
branch    3 non-null object
dtypes: object(3)
memory usage: 176.0+ bytes
None
        name rollno branch
count      4      3      3
unique     4      3      3
top     monu    508   mech
freq       1      1      1
name      0
rollno    1
branch    1
dtype: int64

## 9.write a pandas program to get the first 3 rows and last 2 rows of a given dfataframe

In [108]:
ss=pd.DataFrame({'marks':[23,45,67,44,67,54,76,89],
                'ranks':[4,3,2,5,7,4,6,8],})
print(ss.head(3))
print(ss.tail(2))

   marks  ranks
0     23      4
1     45      3
2     67      2
   marks  ranks
6     76      6
7     89      8