# class notebook

# tuples 
> 1. it is collection of different data types seperated by comma(,)and enclosed with ()

In [1]:
p=(2,4,3,5,2,5.4,2.3,"sukku")
p

(2, 4, 3, 5, 2, 5.4, 2.3, 'sukku')

In [2]:
type(p)

tuple

In [3]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [4]:
help(tuple.count)# return number of occurrence of value

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [5]:
p.count("sukku")

1

In [6]:
p1=(1,2.2,3,4.5,"pavan",3.4,2,4,33,44,2)
p1

(1, 2.2, 3, 4.5, 'pavan', 3.4, 2, 4, 33, 44, 2)

In [7]:
p1.count(2)

2

In [8]:
p1.index("pavan")

4

In [10]:
p1[0]

1

In [11]:
p1[-1]

2

In [12]:
p1[1:]

(2.2, 3, 4.5, 'pavan', 3.4, 2, 4, 33, 44, 2)

In [19]:
print(p1*2)

(1, 2.2, 3, 4.5, 'pavan', 3.4, 2, 4, 33, 44, 2, 1, 2.2, 3, 4.5, 'pavan', 3.4, 2, 4, 33, 44, 2)

In [17]:
print(p1+p)

(1, 2.2, 3, 4.5, 'pavan', 3.4, 2, 4, 33, 44, 2, 2, 4, 3, 5, 2, 5.4, 2.3, 'sukku')

In [20]:
print(p1+p)

(1, 2.2, 3, 4.5, 'pavan', 3.4, 2, 4, 33, 44, 2, 2, 4, 3, 5, 2, 5.4, 2.3, 'sukku')

In [21]:
p1*2

(1,
 2.2,
 3,
 4.5,
 'pavan',
 3.4,
 2,
 4,
 33,
 44,
 2,
 1,
 2.2,
 3,
 4.5,
 'pavan',
 3.4,
 2,
 4,
 33,
 44,
 2)

In [22]:
print(p1*2,)

(1, 2.2, 3, 4.5, 'pavan', 3.4, 2, 4, 33, 44, 2, 1, 2.2, 3, 4.5, 'pavan', 3.4, 2, 4, 33, 44, 2)

# set
>1.it is a collection of elements seperated by comma(,) enclosed with {} flower braces
>2.it doesn't have index value 
>3. the elements are in unordered

In [24]:
set={3,5,2,7,8,5,43,45,54,5,7,3,34}# it displays only unique elements
type(set)
set

{2, 3, 5, 7, 8, 34, 43, 45, 54}

In [27]:
s={"sukku","apple","chitti"}
print(type(s))
s

<class 'set'>

{'apple', 'chitti', 'sukku'}

In [28]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [29]:
# add-add an element to a set 
help(set.add)

Help on built-in function add:

add(...) method of builtins.set instance
    Add an element to a set.

    This has no effect if the element is already present.

In [31]:
set.add(1)
set

{1, 2, 3, 5, 7, 8, 34, 43, 45, 54}

# clear

In [33]:
set.clear()
set

set()

In [34]:
a={2,4,6,8,10,1,32,12}
a

{1, 2, 4, 6, 8, 10, 12, 32}

# copy

In [37]:
a1=a.copy()
print(a1)
print(a)

{32, 1, 2, 4, 6, 8, 10, 12}
{32, 1, 2, 4, 6, 8, 10, 12}

# difference()

In [38]:
help(set.difference)

Help on built-in function difference:

difference(...) method of builtins.set instance
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [39]:
x={1,3,2,4,2,324,31,3,32}
y={13,434,6667,88,65,5}
x1=x.difference(y)
y1=y.difference(x)
print(x1)
print(y1)

{32, 1, 2, 3, 4, 324, 31}
{65, 5, 6667, 13, 434, 88}

# difference_update()

# isdisjoint()

In [41]:
print(x.isdisjoint(y))# if their is no common value it will print true
print(y.isdisjoint(x))# if any one of the value is common in two set it will print false

True
True

# union

In [42]:
print(x.union(y))

{32, 1, 2, 3, 4, 324, 65, 5, 6667, 13, 434, 88, 31}

# intersection

In [43]:
print(y.intersection(x))

set()

# is subset

In [46]:
help(set.issubset)

Help on built-in function issubset:

issubset(...) method of builtins.set instance
    Report whether another set contains this set.

In [48]:
print(x.issubset(y))
print(y.issubset(x))

False
False

# issuperset()

In [49]:
print(x.issuperset(y))
print(y.issuperset(x))

False
False

## accessing elements in set

In [52]:
s_t={2,3,1,4,3,22,23,21}
for cse in s_t:
    print(cse,end=",")

1,2,3,4,21,22,23,

# update

In [53]:
y.update(x)
y

{1, 2, 3, 4, 5, 13, 31, 32, 65, 88, 324, 434, 6667}

In [54]:
help(set.update)

Help on built-in function update:

update(...) method of builtins.set instance
    Update a set with the union of itself and others.

# symmetric_difference()

In [56]:
help(set.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [57]:
i=x.symmetric_difference(y)
i

{5, 13, 65, 88, 434, 6667}

In [58]:
x

{1, 2, 3, 4, 31, 32, 324}

In [59]:
y

{1, 2, 3, 4, 5, 13, 31, 32, 65, 88, 324, 434, 6667}

# pop

In [60]:
i.pop()

65

In [61]:
i.pop()

5

In [62]:
i.pop()

6667

# remove

In [65]:
y.remove(13)
y

{1, 2, 3, 4, 5, 31, 32, 88, 324, 434, 6667}

# discard

In [67]:
y.discard(434)
y

{1, 2, 3, 4, 5, 31, 32, 88, 324, 6667}

In [2]:
l=[2,3,2,14,545,5,45,5,3,33]
print(type(l),l)
p=set(l)
print(type(p),p)

<class 'list'> [2, 3, 2, 14, 545, 5, 45, 5, 3, 33]
<class 'set'> {545, 2, 3, 33, 5, 45, 14}

In [1]:
s=list(set(map(int,input().split())))
print(s)

5 6 7 8 8 5
[8, 5, 6, 7]

In [2]:
s=input().split()
print(type(s),s)
p=set(s)
print(type(p),p)

5 6 7 8 8 5
<class 'list'> ['5', '6', '7', '8', '8', '5']
<class 'set'> {'6', '7', '8', '5'}