# handling csv files

In [2]:
file="csv.txt"
def name(file):
    with open (file,'w') as f:
        f.write("kvsw"+","+"kvsr"+","+"kvsm")
        name(file)

In [10]:
file="contacts.txt"
with open (file,'a')as f:
    f.write("kvswsukanya"+","+"8309985678"+","+"kvsmkrishna@gmail.com")
    f.write("\n"+"bindu"+","+"8366685678"+","+"kvsmadhu@gmail.com")

# converting csvfile to listfile

In [13]:
file="contacts.txt"
def csvtolist(file):
    l=[]
    with open(file,'r')as f:
        for line in f:
            l.append(line.split(","))
    return l
csvtolist(file)

[['kvswsukanya', '8309985678', 'kvsmkrishna@gmail.com\n'],
 ['bindu',
  '8366685678',
  'kvsmadhu@gmail.comkvswsukanya',
  '8309985678',
  'kvsmkrishna@gmail.com\n'],
 ['bindu', '8366685678', 'kvsmadhu@gmail.com']]

In [14]:
file="contacts.txt"
def csvtolist(file):
    l=[]
    with open(file,'r')as f:
        for line in f:
            l.append(line.split(","))
    return l
csvtolist(file)
def listtocsv(file):
    d=csvtolist(file)
    s=""
    for i in d:
        s+=",".join(i)
    print(s)
listtocsv(file)

kvswsukanya,8309985678,kvsmkrishna@gmail.com
bindu,8366685678,kvsmadhu@gmail.comkvswsukanya,8309985678,kvsmkrishna@gmail.com
bindu,8366685678,kvsmadhu@gmail.com

In [15]:
import re# phonenumber validation
def phoneno(num):
    pattern='[+][9][1][6789][0-9]{9}$|^[0][6-9][0-9]{9}$|^[6-9][0-9]{9}$'
    if re.match(pattern,num):
        return 1
    else:
        return 0
phoneno("8976543298")
phoneno("+919987432156")
phoneno("09879543267")

1

In [16]:
#([a-z]|[0-9]|[A-Z])([a-z]|[0-9]|[A-Z]|[_]){6,14}([0-9]|[a-z])[@][a-z]{2,10}[.][a-z]{2,4}$
import re# email validation
def email(mail):
    pattern='^([a-z]|[0-9]|[A-Z])([a-z]|[0-9]|[A-Z]|[_]){6,14}([0-9]|[a-z])[@][a-z]{2,10}[.][a-z]{2,4}$'
    if re.match(pattern,mail):
        return 1
    else:
        return 0
email("sukanya5499@gmail.com")

1

In [35]:
import re #search contact
def phoneno(num):
    pattern='[+][9][1][6789][0-9]{9}$|^[0][6-9][0-9]{9}$|^[6-9][0-9]{9}$'
    if re.match(pattern,num):
        return 1
    else:
        return 0
def email(mail):
    pattern='^([a-z]|[0-9]|[A-Z])([a-z]|[0-9]|[A-Z]|[_]){6,}([0-9]|[a-z])[@][a-z]{2,10}[.][a-z]{2,4}$'
    if re.match(pattern,mail):
        return 1
    else:
        return 0
def searchcontact(name,file):
    s=csvtolist(file)
    for i in s:
        if i[0]==name:
            return 1
        else:
            return 0
searchcontact("name","contacts.txt")
def addcontact(name,num,mail,file):
    if searchcontact(name,file)==0:
        if phoneno(num)==1:
            #print("validation success")
            if email(mail)==1:
                #print("valid success")
                with open(file,'a') as f:
                    f.write(name+","+num+","+mail+"\n")
                    print("contact added successfully")
    else:
        print("contact already exists")
addcontact("gayathri","8464052803","lekireddygayathri76@gmail.com","contacts.txt")

contact added successfully

# remove contact

In [ ]:
import re
def phoneno(num):
    pattern='[+][9][1][6789][0-9]{9}$|^[0][6-9][0-9]{9}$|^[6-9][0-9]{9}$'
    if re.match(pattern,num):
        return 1
    else:
        return 0
def email(mail):
    pattern='^([a-z]|[0-9]|[A-Z])([a-z]|[0-9]|[A-Z]|[_]){6,}([0-9]|[a-z])[@][a-z]{2,10}[.][a-z]{2,4}$'
    if re.match(pattern,mail):
        return 1
    else:
        return 0

# functional programming

In [36]:
#ex: procedure--c
# scrpting--php,python,java,shell

# list or dictionaries or tuples or sets comprehension

In [40]:
# print n natural numbers
n=int(input())
for i in range(1,n+1):
    print(i,end=" ")

10
1 2 3 4 5 6 7 8 9 10

# list comprehension technics

In [ ]:
syntax---->
==>expression for list in item conditions,,here we can use the only space

In [41]:
n=int(input())
suku=[i for i in range(1,n+1)]
suku

10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
x="apssdc"
print(type(x))
for i in x:
    print(i,end=" ")

<class 'str'>
a p s s d c

In [44]:
l=[s for s in x]
l

['a', 'p', 's', 's', 'd', 'c']

In [53]:
s="google.com"
a=s.upper()
a

'GOOGLE.COM'

In [65]:
f=[i.upper() for i in a]
f

['G', 'O', 'O', 'G', 'L', 'E', '.', 'C', 'O', 'M']

In [66]:
x="123abcef"
for i in x:
    if i.isdigit():
        print(i,end=" ")

1 2 3

In [67]:
ls=[n for n in x if n.isdigit()]
print(ls)

['1', '2', '3']

# print first 10 number sqrt values in a list

In [49]:
n=int(input())
s=[i**0.5 for i in range(1,n+1) ]
s

10

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [50]:
import math
n=int(input())
m=[]
for i in range(1,n+1):
    m.append(math.sqrt(i))
m

10

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [52]:
li=[math.sqrt(i) for i in range(1,11)]
li

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [54]:
lb=int(input())
ub=int(input())
d=[lb*lb for lb in range(lb,ub+1)]
d

20
30

[400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [56]:
d=[i**3 for i in range(1,5)]
d

[1, 8, 27, 64]

In [69]:
def fact(n):
    f=1
    l=[]
    for i in range(1,n+1):
        f=f*i
        l.append(f)
    print(l)
    print(f)
n=int(input())
fact(n)

4
[1, 2, 6, 24]
24

In [72]:
t=[fact(i) for i in range (5)]

[]
1
[1]
1
[1, 2]
2
[1, 2, 6]
6
[1, 2, 6, 24]
24

# even or odd

In [82]:
for i in range(10,20):
    if(i%2==0):
        print(i)
    else:
        print(i)

10
11
12
13
14
15
16
17
18
19

In [81]:
e=[i for i in range(10,20) if i%2==0]
o=[i for i in range(10,20) if i%2==1]
print(e)
print(o)

[10, 12, 14, 16, 18]
[11, 13, 15, 17, 19]

In [83]:
h=["even" if i%2==0 else i for i in range(11,21)]
h

[11, 'even', 13, 'even', 15, 'even', 17, 'even', 19, 'even']

In [89]:
#s=[i for i in range(1,21) if i%2==0 and i%5==0]
s=[i for i in range(1,21) if i%2==0 if i%5==0]
s

[10, 20]

# leap year from 2000-2020

In [91]:
l_p=[i for i in range(2000,2020) if (i%4==0 and i%100!=0) or i%400==0]
l_p

[2000, 2004, 2008, 2012, 2016]

### LAMBDA

In [ ]:
#anonymous function---unknown
#syntax--->
        lambda arguments:expression
-->it accepts only one expression
-->for calling the lambda function we have to create a object
-->lambda does not have return statement

In [92]:
def square(n):
    n**2
square(3)
d=lambda n:n**2
print(d(4))

16

In [94]:
e=lambda c:c**3
print(e(3))

27

In [95]:
l=[1,2,3,4,5]
i=[]
for j in range(len(l)):
    a=l[j]**2
    i.append(a)
print(i)

[1, 4, 9, 16, 25]

In [96]:
e=[l[i]**2 for i in range(len(l))]
e

[1, 4, 9, 16, 25]

# iterators

## 1.iter()
## 2.next()

In [97]:
l=[1,2,3,4,5,6]
for i in l:
    print(i)

1
2
3
4
5
6

In [99]:
#iter(),next()
a=iter(l)
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4

# generate

In [102]:
def add(a,b):
    return a+b
    a+=1
    b=+1
    return a+b# function can have only one return statement
add(2,3)

5

# yield,next

In [103]:
def add(a,b):
    c=a+b
    yield c
    a+=1
    b=+1
    c=a+b
    yield c
d=add(2,3)
print(next(d))
print(next(d))
for i in add(2,3):
    print(i)

5
4
5
4

In [104]:
#print 1,2,3,4,5 factorial by using generators

# map

# syntax-->map(fun,iterable)

In [106]:
def square(n):
    return n**2
l=[1,2,3,4,5]
print(list(map(square,l)))

[1, 4, 9, 16, 25]

In [107]:
l=[1,2,3,4,5]
print(list(map(lambda x:x**2,l)))

[1, 4, 9, 16, 25]

In [110]:
# addition of two number by using tuples
t=(1,2,3)
t1=(1,2,3)
print(list(map(lambda a,b:a+b,t,t1 )))

[2, 4, 6]

# filter

# syntax-->filter(fun,iterable)

In [113]:
l=[1,2,3,4,5,6,7,8,9]
a=list(filter(lambda x:x%2==0,l))
a

[2, 4, 6, 8]

In [120]:
l=[1,2,3,'a','b']
l1=[]
for i in l:
    if str(i).isdigit():
        l1.append(i)
print(l1)
def digit(l1):
    for i in l:
        if str(i).isdigit():
            return True
        return False
a=list(filter(digit,l))

[1, 2, 3]

In [118]:
l=list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
def prime(j):
    f=0
    for i in range(1,j+1):
        if(j%i==0):
            f=f+1
    if(f==2):
        print(i,end=" ")
N=int(input())
for j in range(1,N+1):
    prime(j)

10
2 3 5 7

In [130]:
l=list(range(10))
def prime(n):
    f=0
    for i in range(1,n+1):
        if(n%i==0):
            f=f+1
    if(f==2):
        return 1
    return 0
print(list(filter(prime,l)))

[2, 3, 5, 7]